<pre>
    <code>
      <span class="type">public</span> <span class="class">class</span> <span class="class-name">Skill</span> <span class="punctuation">&lbrace;</span><br>

      <span class="type">private</span> <span class="class">String</span> <span class="variable">language</span><span class="punctuation">;</span> <span class="comment">// langage de programmation</span><br>
      <span class="type">private</span> <span class="class">String</span> <span class="variable">sourceIcon</span><span class="punctuation">;</span> <span class="comment">// source pour icon</span><br>

      <span class="type">public</span> <span class="class-name">Skills</span><span class="punctuation">(</span><span class="class">String</span> <span class="variablethis">language</span><span class="punctuation">,</span> <span class="class">String</span> <span class="variablethis">sourceIcon</span><span class="punctuation">)</span> <span class="punctuation">&lbrace;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span class="variable">language</span> <span class="punctuation">=</span> <span class="variablethis">language</span><span class="punctuation">;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span class="variable">sourceIcon</span> <span class="punctuation">=</span> <span class="variablethis">sourceIcon</span><span class="punctuation">;</span><br>
      <span class="punctuation">}</span><br>

      <span class="type">public</span> <span class="type">String</span> <span class="function">toString</span><span class="punctuation">(</span><span class="punctuation">)</span> <span class="punctuation">&lbrace;</span><br>
      <span class="return">return</span> <span class="string">"language : "</span> <span class="punctuation">+</span> <span class="variable">language</span> <span class="punctuation">+</span> <span class="string">'\n'</span> <span class="punctuation">+</span><br>
      <span class="string">"sourceIcon : "</span> <span class="punctuation">+</span> <span class="variable">sourceIcon</span> <span class="punctuation">+</span> <span class="string">"\\n\\n"</span><span class="punctuation">;</span><br>
      <span class="punctuation">}</span><br>

      <span class="punctuation">}</span>
    </code>
</pre>
