<pre>
    <code>
      <span class="type">public</span> <span class="class">class</span> <span
      class="class-name">Experience</span> <span
      class="punctuation">&lbrace;</span><br>
      <span class="type">private</span> <span class="class">String</span> <span class="variable">year</span><span
      class="punctuation">;</span> <span class="comment">// Année</span><br>
      <span class="type">private</span> <span class="class">String</span> <span class="variable">role</span><span
      class="punctuation">;</span> <span class="comment">// Rôle occupé</span><br>
      <span class="type">private</span> <span class="class">String</span> <span class="variable">company</span><span
      class="punctuation">;</span> <span class="comment">// Entreprise</span><br>
      <span class="type">private</span> <span class="class">String</span> <span
      class="variable">description</span><span class="punctuation">;</span> <span class="comment">// Description du poste</span><br>
      <span class="type">public</span> <span class="class-name">experiences</span> <span
      class="punctuation">(</span> <span class="punctuation" class="class">String</span> <span class="variablethis">year</span><span
      class="punctuation">,</span> <span
      class="class">String</span> <span class="variablethis">role</span><span class="punctuation">,</span> <span
      class="class">String</span> <span class="variablethis">company</span><span class="punctuation">,</span> <span
      class="class">String</span> <span class="variablethis">description</span><span class="punctuation">)</span> <span
      class="punctuation">&lbrace;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span
      class="variable">year</span> <span
      class="punctuation">=</span> <span class="variablethis">year</span><span class="punctuation">;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span
      class="variable">role</span> <span
      class="punctuation">=</span> <span class="variablethis">role</span><span class="punctuation">;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span
      class="variable">company</span> <span
      class="punctuation">=</span> <span class="variablethis">company</span><span class="punctuation">;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span
      class="variable">description</span> <span
      class="punctuation">=</span> <span class="variablethis">description</span><span
      class="punctuation">;</span><br>
      <span class="punctuation">}</span><br>
      <span class="type">public</span> <span class="type">String</span> <span
      class="function">toString</span><span class="punctuation">(</span><span class="punctuation">)</span> <span
      class="punctuation">&lbrace;</span><br>
      <span class="return">return</span> <span class="string">"year : "</span> <span
      class="punctuation">+</span> <span class="variable">year</span> <span class="punctuation">+</span> <span
      class="string">'\n'</span> <span class="punctuation">+</span><br>
      <span class="string">"role : "</span> <span class="punctuation">+</span> <span
      class="variable">role</span> <span class="punctuation">+</span> <span class="string">'\n'</span> <span
      class="punctuation">+</span><br>
      <span class="string">"company : "</span> <span class="punctuation">+</span> <span
      class="variable">company</span> <span class="punctuation">+</span> <span class="string">'\n'</span> <span
      class="punctuation">+</span><br>
      <span class="string">"description : "</span> <span class="punctuation">+</span> <span
      class="variable">description</span> <span class="punctuation">+</span> <span class="string">"\\n\\n"</span><span
      class="punctuation">;</span><br>
      <span class="punctuation">}</span><br>
      <span class="punctuation">}</span>
    </code>
</pre>
