<pre><code>
  <span class="bracket">&lbrace;</span>
  <span class="class">"title"</span>: <span class="string">"{{jsonContact.title}}"</span>,
  <span class="class">"contact"</span>: [
    <span *ngFor="let contact of jsonContact.contact; let i = index">
      <span class="bracket">&lbrace;</span>
      <span class="class">"year"</span>: <span class="string">"{{contact.type}}"</span>,
      <span class="class">"role"</span>: <span class="string">"{{contact.value}}"</span>,
      <span class="class">"role"</span>: <span class="string">"{{contact.sourceIcon}}"</span>
      },
    </span>]
  <span class="bracket">}</span>
</code></pre>
