<pre>
    <code>
      <span class="type">public</span> <span class="class">class</span> <span class="class-name">Cursus</span> <span
      class="punctuation">&lbrace;</span><br>
      <span class="type">private</span> <span class="class">String</span> <span class="variable">year</span><span
      class="punctuation">;</span> <span class="comment">// Année</span><br>
      <span class="type">private</span> <span class="class">String</span> <span
      class="variable">description</span><span class="punctuation">;</span> <span class="comment">// Description du poste</span><br>
      <span class="type">private</span> <span class="class">String</span> <span
      class="variable">institution</span><span class="punctuation">;</span> <span class="comment">// Nom de l'institution</span><br>
      <span class="type">public</span> <span class="class-name">Cursus</span><span class="punctuation">(</span><span
      class="class">String</span> <span class="variablethis">year</span><span class="punctuation">,</span> <span
      class="class">String</span> <span class="variablethis">description</span><span class="punctuation">,</span> <span
      class="class">String</span> <span class="variablethis">institution</span><span class="punctuation">)</span> <span
      class="punctuation">&lbrace;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span class="variable">year</span> <span
      class="punctuation">=</span> <span class="variablethis">year</span><span class="punctuation">;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span class="variable">description</span> <span
      class="punctuation">=</span> <span class="variablethis">description</span><span class="punctuation">;</span><br>
      <span class="type">this</span><span class="punctuation">.</span><span class="variable">institution</span> <span
      class="punctuation">=</span> <span class="variablethis">institution</span><span class="punctuation">;</span><br>
      <span class="punctuation">}</span><br>

      <span class="type">public</span> <span class="type">String</span> <span class="function">toString</span><span
      class="punctuation">(</span><span class="punctuation">)</span> <span class="punctuation">&lbrace;</span><br>
      <span class="return">return</span> <span class="string">"year : "</span> <span
      class="punctuation">+</span> <span class="variable">year</span> <span class="punctuation">+</span> <span
      class="string">'\n'</span> <span class="punctuation">+</span><br>
      <span class="string">"description : "</span> <span class="punctuation">+</span> <span class="variable">description</span> <span
      class="punctuation">+</span> <span class="string">'\n'</span> <span class="punctuation">+</span><br>
      <span class="string">"institution : "</span> <span class="punctuation">+</span> <span class="variable">institution</span> <span
      class="punctuation">+</span> <span class="string">"\\n\\n"</span><span class="punctuation">;</span><br>
      <span class="punctuation">}</span><br>

      <span class="punctuation">}</span>
    </code>
</pre>
